@using DatabaseDesigner.Wasm.Components.Database;
@using DatabaseDesigner.Wasm.Components.Database.TableNode;
@using DatabaseDesigner.Wasm.Components.Database.TableNode.TableColumnNode;

@{

    void AddDatabase(Diagram diagram) {
        Diagram.Nodes.Add(new Database());
    }

    void AddTable(Diagram diagram) {
        Diagram.Nodes.Add(new Database());
    }

    void AddColumn(Diagram diagram) {
        Diagram.Nodes.Add(new Database());
    }

}


<div class="Box sidebar">
    <div>
        <DatabaseNode Diagram="Diagram" InTray="@true" AddToScene="@AddDatabase" />
    </div>
    <div>
        <TableNode Diagram="Diagram" InTray="@true" AddToScene="@AddTable"  />
    </div>
    <div>
        <TableColumnNode Diagram="Diagram" InTray="@true" AddToScene="@AddColumn"  />
    </div>
</div>
